    .badge {
      display: inline-block;
      max-width: 100%;
      white-space: normal;
      padding: 0.2em 0.4em;
      margin-right: 0.2em;
    }

    .badge.trunk-content {
      color: #fff;
      background-color: #007bff;
    }

    .badge.objective {
      color: #fff;
      background-color: #28a745;
    }


    #openTaskFormButton {
    border-radius: 50%; /* makes the button circular */
    padding: 10px 15px; /* provides space for the plus sign */
    position: fixed; /* allows the button to stay in a specific position */
    top: 10px; /* positions the button from the top */
    right: 10px; /* positions the button from the right */
    z-index: 9999; /* keeps the button above other elements */
}
